dte-service/schemas/xsd/DTE_v10.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Esquema XSD para Documentos Tributarios Electrónicos (DTE) v1.0 -->
<!-- Basado en especificación oficial SII Chile -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.sii.cl/SiiDte"
           targetNamespace="http://www.sii.cl/SiiDte"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- Elemento raíz DTE -->
    <xs:element name="DTE">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Documento" type="DocumentoType"/>
                <xs:element name="Signature" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:decimal" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Tipo Documento -->
    <xs:complexType name="DocumentoType">
        <xs:sequence>
            <xs:element name="Encabezado" type="EncabezadoType"/>
            <xs:element name="Detalle" type="DetalleType" maxOccurs="unbounded"/>
            <xs:element name="Referencia" type="ReferenciaType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="TED" type="TEDType"/>
        </xs:sequence>
        <xs:attribute name="ID" type="xs:ID" use="required"/>
    </xs:complexType>

    <!-- Tipo Encabezado -->
    <xs:complexType name="EncabezadoType">
        <xs:sequence>
            <xs:element name="IdDoc" type="IdDocType"/>
            <xs:element name="Emisor" type="EmisorType"/>
            <xs:element name="Receptor" type="ReceptorType"/>
            <xs:element name="Totales" type="TotalesType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo IdDoc -->
    <xs:complexType name="IdDocType">
        <xs:sequence>
            <xs:element name="TipoDTE" type="DTEType"/>
            <xs:element name="Folio" type="FolioType"/>
            <xs:element name="FchEmis" type="xs:date"/>
            <xs:element name="FmaPago" type="xs:positiveInteger" minOccurs="0"/>
            <xs:element name="FchVenc" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Tipos simples -->
    <xs:simpleType name="DTEType">
        <xs:restriction base="xs:positiveInteger">
            <xs:enumeration value="33"/>
            <xs:enumeration value="34"/>
            <xs:enumeration value="39"/>
            <xs:enumeration value="41"/>
            <xs:enumeration value="43"/>
            <xs:enumeration value="46"/>
            <xs:enumeration value="52"/>
            <xs:enumeration value="56"/>
            <xs:enumeration value="61"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FolioType">
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="999999999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RUTType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}-[0-9Kk]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="EmisorType">
        <xs:sequence>
            <xs:element name="RUTEmisor" type="RUTType"/>
            <xs:element name="RznSoc" type="xs:string"/>
            <xs:element name="GiroEmis" type="xs:string"/>
            <xs:element name="Acteco" type="xs:positiveInteger"/>
            <xs:element name="DirOrigen" type="xs:string"/>
            <xs:element name="CmnaOrigen" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReceptorType">
        <xs:sequence>
            <xs:element name="RUTRecep" type="RUTType"/>
            <xs:element name="RznSocRecep" type="xs:string"/>
            <xs:element name="GiroRecep" type="xs:string" minOccurs="0"/>
            <xs:element name="DirRecep" type="xs:string"/>
            <xs:element name="CmnaRecep" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DetalleType">
        <xs:sequence>
            <xs:element name="NroLinDet" type="xs:positiveInteger"/>
            <xs:element name="NmbItem" type="xs:string"/>
            <xs:element name="QtyItem" type="xs:decimal" minOccurs="0"/>
            <xs:element name="PrcItem" type="xs:decimal" minOccurs="0"/>
            <xs:element name="MontoItem" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TotalesType">
        <xs:sequence>
            <xs:element name="MntNeto" type="xs:integer" minOccurs="0"/>
            <xs:element name="MntExe" type="xs:integer" minOccurs="0"/>
            <xs:element name="TasaIVA" type="xs:decimal" minOccurs="0"/>
            <xs:element name="IVA" type="xs:integer" minOccurs="0"/>
            <xs:element name="MntTotal" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReferenciaType">
        <xs:sequence>
            <xs:element name="NroLinRef" type="xs:positiveInteger"/>
            <xs:element name="TpoDocRef" type="xs:string"/>
            <xs:element name="FolioRef" type="xs:string"/>
            <xs:element name="FchRef" type="xs:date" minOccurs="0"/>
            <xs:element name="RazonRef" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TEDType">
        <xs:sequence>
            <xs:element name="DD" type="DDType"/>
            <xs:element name="FRMT" type="FRMTType"/>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="DDType">
        <xs:sequence>
            <xs:element name="RE" type="RUTType"/>
            <xs:element name="TD" type="DTEType"/>
            <xs:element name="F" type="FolioType"/>
            <xs:element name="FE" type="xs:date"/>
            <xs:element name="RR" type="RUTType"/>
            <xs:element name="RSR" type="xs:string"/>
            <xs:element name="MNT" type="xs:integer"/>
            <xs:element name="IT1" type="xs:string"/>
            <xs:element name="CAF" type="CAFType"/>
            <xs:element name="TSTED" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FRMTType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="algoritmo" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CAFType">
        <xs:sequence>
            <xs:element name="DA" type="DAType"/>
            <xs:element name="FRMA" type="FRMAType"/>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="DAType">
        <xs:sequence>
            <xs:element name="RE" type="RUTType"/>
            <xs:element name="RS" type="xs:string"/>
            <xs:element name="TD" type="DTEType"/>
            <xs:element name="RNG">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="D" type="FolioType"/>
                        <xs:element name="H" type="FolioType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FA" type="xs:date"/>
            <xs:element name="RSAPK">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="M" type="xs:base64Binary"/>
                        <xs:element name="E" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IDK" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FRMAType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="algoritmo" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>
